@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-y: hidden;
}

header {
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #f6f6f9;
}

main {
  background-color: #f6f6f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  width: 100%;
  height: 15vh;
  background: rgba(138, 146, 165, 0.05);
  border-top: 3px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: -8px -10px 15px rgba(255, 255, 255, 0.3);
          box-shadow: -8px -10px 15px rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: auto;
}

.headerContainer .headerContainer-icon {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: -30px;
  background-color: #eeeff2;
  border-radius: 50%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -8px -10px 15px rgba(255, 255, 255, 0.65), -2px -2px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -8px -10px 15px rgba(255, 255, 255, 0.65), -2px -2px 10px rgba(0, 0, 0, 0.25);
}

.headerContainer-icon a svg {
  width: 3.1rem;
  height: 3.1rem;
}

.headerContainer .headerContainer-back-icon {
  width: 70px;
  position: relative;
  left: -30px;
  height: 3rem;
  border-radius: 40px;
  z-index: 1;
  background: rgba(54, 138, 236, 0.25);
  -webkit-box-shadow: inset -8px -10px 15px rgba(255, 255, 255, 0.65), inset 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: inset -8px -10px 15px rgba(255, 255, 255, 0.65), inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.headerContainer .stroke {
  background-color: #368aec;
  -webkit-box-shadow: inset -8px -10px 15px rgba(255, 255, 255, 0.65), inset 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: inset -8px -10px 15px rgba(255, 255, 255, 0.65), inset 10px 10px 10px rgba(0, 0, 0, 0.25);
  width: 70px;
  position: absolute;
  left: 0px;
  height: 3rem;
  border-radius: 40px;
}

main .title {
  width: 75rem;
  height: 9.5rem;
  text-align: center;
  padding-top: 1rem;
  background-color: #eeeff2;
  border-radius: 20px;
  font-size: 6rem;
  font-family: "Rubik", sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -8px -10px 15px rgba(224, 224, 224, 0.65), 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -8px -10px 15px rgba(224, 224, 224, 0.65), 10px 10px 10px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: normal;
  line-height: 83px;
  color: #39cde2;
  margin-top: 12rem;
  margin-bottom: 9rem;
}

main .button-light {
  width: 40.6rem;
  height: 7.9rem;
  border-radius: 40px;
  background: #eeeff2;
  border: 2px solid rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -8px -10px 15px rgba(224, 224, 224, 0.65), 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -8px -10px 15px rgba(224, 224, 224, 0.65), 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  margin-bottom: 3rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 56px;
  color: #5c5d60;
}

footer a svg {
  width: 5.4rem;
  height: 5.4rem;
}

main .button-light:hover {
  background-color: #c7c9cf;
  -webkit-transition: 600ms;
  transition: 600ms;
  color: #45474e;
}

.headerContainer .headerContainer-icon:hover {
  background-color: #c7c9cf;
  -webkit-transition: 900ms;
  transition: 900ms;
  border: none;
}
.headerContainer .headerContainer-icon:hover .sun-icon {
  -webkit-transition: 300ms;
  transition: 300ms;
  fill: #ffffff;
}

footer a:hover .gitHub-icon {
  -webkit-transition: 900ms;
  transition: 900ms;
  fill: #a0a2a7;
}