@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-y: hidden;
}

/* Media Queries Mixin
**********************/
header {
  height: 6rem;
  width: 100%;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #f6f6f9;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body.dark header {
  background-color: rgba(44, 47, 52, 0.9);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
header .container-darckMode {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2rem;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
header .container-darckMode .switch {
  height: 3rem;
  width: 6rem;
  position: relative;
  cursor: pointer;
  outline: none;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -8px -10px 15px rgba(224, 224, 224, 0.65), 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -8px -10px 15px rgba(224, 224, 224, 0.65), 10px 10px 10px rgba(0, 0, 0, 0.25);
  background-color: rgba(52, 61, 91, 0.74);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
header .container-darckMode .switch::after {
  content: "";
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  background: #eeeff2;
  -webkit-box-shadow: -8px -10px 15px rgba(224, 224, 224, 0.65), 10px 10px 40px rgba(0, 0, 0, 0.25);
          box-shadow: -8px -10px 15px rgba(224, 224, 224, 0.65), 10px 10px 40px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  top: -0.3rem;
  left: -0.3rem;
  right: unset;
  border-radius: 100px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
header .container-darckMode .switch.active {
  background-color: #eeeff2;
  -webkit-box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.6);
          box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
header .container-darckMode .switch.active::after {
  top: -0.3rem;
  left: unset;
  right: -0.3rem;
  background: #2C2F34;
  -webkit-box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.6);
          box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
header .container-darckMode .switch .containerStrock {
  height: 3rem;
  width: 6rem;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: inset -8px -10px 51px rgba(224, 224, 224, 0.25), inset 10px 10px 10px rgba(0, 0, 0, 0.47);
          box-shadow: inset -8px -10px 51px rgba(224, 224, 224, 0.25), inset 10px 10px 10px rgba(0, 0, 0, 0.47);
  background-color: #515C80;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
header .container-darckMode .switch .containerStrock span .fa-moon {
  color: #fff;
  display: block;
  font-size: 1.8rem;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
header .container-darckMode .switch .containerStrock span .fa-sun {
  display: block;
  font-size: 1.8rem;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body.dark header .container-darckMode .switch .containerStrock {
  background-color: #eeeff2;
  -webkit-box-shadow: inset -3px -3px 100px rgba(255, 255, 255, 0.3), inset 10px 10px 10px rgba(0, 0, 0, 0.6);
          box-shadow: inset -3px -3px 100px rgba(255, 255, 255, 0.3), inset 10px 10px 10px rgba(0, 0, 0, 0.6);
}

main {
  background-color: #f6f6f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: 320px;
  height: 75vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body.dark main {
  background-color: rgba(44, 47, 52, 0.9);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .title {
  width: 30rem;
  max-width: 50rem;
  height: 9.5rem;
  text-align: center;
  padding-top: 0.7rem;
  background-color: #eeeff2;
  border-radius: 20px;
  font-size: 5rem;
  font-family: "Rubik", sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -8px -10px 15px rgba(224, 224, 224, 0.65), 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -8px -10px 15px rgba(224, 224, 224, 0.65), 10px 10px 10px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: normal;
  line-height: 83px;
  color: #39cde2;
  margin-top: 1rem;
  margin-bottom: 3rem;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body.dark main .title {
  background-color: #2C2F34;
  color: #57D2D8;
  -webkit-box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.6);
          box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
@media only screen and (min-width: 480px) {
  main .title {
    width: 40rem;
  }
}
@media only screen and (min-width: 800px) {
  main .title {
    width: 65rem;
  }
}
@media only screen and (min-width: 1000px) {
  main .title {
    width: 75rem;
    font-size: 6rem;
    padding-top: 1rem;
    margin-top: 12rem;
    margin-bottom: 9rem;
  }
}
main .button-light {
  width: 20.6rem;
  max-width: 25rem;
  height: 7.9rem;
  border-radius: 40px;
  background: #eeeff2;
  border: 2px solid rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -8px -10px 15px rgba(224, 224, 224, 0.65), 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -8px -10px 15px rgba(224, 224, 224, 0.65), 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  margin-bottom: 2rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 56px;
  color: #5c5d60;
  cursor: pointer;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body.dark main .button-light {
  background-color: #2C2F34;
  -webkit-box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.6);
          box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.6);
  color: #CCCFD4;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
@media only screen and (min-width: 480px) {
  main .button-light {
    width: 25rem;
  }
}
@media only screen and (min-width: 800px) {
  main .button-light {
    width: 35.6rem;
  }
}
@media only screen and (min-width: 1000px) {
  main .button-light {
    width: 40.6rem;
    font-size: 4rem;
    margin-bottom: 3rem;
  }
}
main .button-light:hover {
  background-color: #c7c9cf;
  -webkit-transition: 600ms;
  transition: 600ms;
  color: #45474e;
}
body.dark main .button-light:hover {
  background-color: #3f4349;
  -webkit-box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.6);
          box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.6);
  color: #e4e7eb;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .title-turn {
  text-align: center;
  color: #39cde2;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3.4rem;
  line-height: 3.6rem;
  text-align: center;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body.dark main .title-turn {
  color: #57D2D8;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .container-board {
  width: 25rem;
  height: 26rem;
  background-color: #eeeff2;
  border-radius: 25px;
  border: 1px #8c8c8d solid;
  -webkit-box-shadow: -8px -10px 15px rgba(255, 255, 255, 0.65), 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -8px -10px 15px rgba(255, 255, 255, 0.65), 10px 10px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body.dark main .container-board {
  background-color: rgba(44, 47, 52, 0.9);
  -webkit-box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.6);
          box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .container-board .container-board-into {
  width: 25rem;
  height: 26rem;
  border-radius: 25px;
  -webkit-box-shadow: inset -8px -10px 15px rgba(255, 255, 255, 0.65), inset 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: inset -8px -10px 15px rgba(255, 255, 255, 0.65), inset 10px 10px 10px rgba(0, 0, 0, 0.25);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  padding: 1.5rem;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .container-board .container-board-into > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
main .container-board .container-board-into > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
main .container-board .container-board-into > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
main .container-board .container-board-into > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
main .container-board .container-board-into > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
main .container-board .container-board-into > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
main .container-board .container-board-into > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
main .container-board .container-board-into > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
main .container-board .container-board-into > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
body.dark main .container-board .container-board-into {
  background-color: rgba(44, 47, 52, 0.9);
  -webkit-box-shadow: inset -3px -3px 20px rgba(255, 255, 255, 0.3), inset 10px 10px 15px;
          box-shadow: inset -3px -3px 20px rgba(255, 255, 255, 0.3), inset 10px 10px 15px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .container-board .container-board-into .button-xo {
  background: none;
  font-size: 6rem;
  font-family: "Rubik", sans-serif;
  color: #5c5d60;
  border: none;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body.dark main .container-board .container-board-into .button-xo {
  color: #CCCFD4;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .container-board .container-board-into .position-1, main .container-board .container-board-into .position-2, main .container-board .container-board-into .position-3, main .container-board .container-board-into .position-4, main .container-board .container-board-into .position-5, main .container-board .container-board-into .position-6 {
  border-bottom: 0.8rem solid black;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body.dark main .container-board .container-board-into .position-1, body.dark main .container-board .container-board-into .position-2, body.dark main .container-board .container-board-into .position-3, body.dark main .container-board .container-board-into .position-4, body.dark main .container-board .container-board-into .position-5, body.dark main .container-board .container-board-into .position-6 {
  border-bottom: 0.8rem solid #4b4a4a;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .container-board .container-board-into .position-1, main .container-board .container-board-into .position-2, main .container-board .container-board-into .position-4, main .container-board .container-board-into .position-5, main .container-board .container-board-into .position-7, main .container-board .container-board-into .position-8 {
  border-right: 0.8rem solid black;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body.dark main .container-board .container-board-into .position-1, body.dark main .container-board .container-board-into .position-2, body.dark main .container-board .container-board-into .position-4, body.dark main .container-board .container-board-into .position-5, body.dark main .container-board .container-board-into .position-7, body.dark main .container-board .container-board-into .position-8 {
  border-right: 0.8rem solid #413f3f;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .score {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 1.2rem;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .score .score-title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr 1fr;
  grid-template-columns: 1fr 0.5fr 1fr;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .score .score-title .Player1 {
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .score .score-title .tie {
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .score .score-title .Player2 {
  -ms-grid-column-align: start;
      justify-self: start;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .score .score-title b {
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  color: #39cde2;
  font-weight: 600;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body.dark main .score .score-title b {
  color: #57D2D8;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .score .score-points {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr 1fr;
  grid-template-columns: 1fr 0.5fr 1fr;
  margin-top: 0.5rem;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .score .score-points b {
  -ms-grid-column-align: center;
      justify-self: center;
  color: #5c5d60;
  font-family: "Rubik", sans-serif;
  font-size: 2.6rem;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body.dark main .score .score-points b {
  color: #CCCFD4;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .button-back {
  width: 13rem;
  height: 3.2rem;
  margin-top: 1rem;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
main .button-back b {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  color: #5c5d60;
  font-weight: 300;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body.dark main .button-back b {
  color: #CCCFD4;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

footer {
  width: 100%;
  min-width: 320px;
  height: 18vh;
  background-color: rgba(138, 146, 165, 0.05);
  border-top: 3px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: -8px -10px 15px rgba(255, 255, 255, 0.3);
          box-shadow: -8px -10px 15px rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body.dark footer {
  background-color: rgba(44, 47, 52, 0.9);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
footer a {
  margin-top: 0.7rem;
}
footer i {
  width: 5.4rem;
  height: 5.4rem;
  font-size: 5rem;
  color: black;
  cursor: pointer;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body.dark footer i {
  color: #CCCFD4;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
footer i:hover {
  -webkit-transition: 900ms;
  transition: 900ms;
  color: #a0a2a7;
}
body.dark footer i:hover {
  color: #9d9d9e;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}