footer {
    width: 100%;
    min-width: 320px;
    height: 18vh;
    background-color: $tertiary-color-light;
    border-top: 3px solid rgba(0, 0, 0, 0.05);
    box-shadow: -8px -10px 15px rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    transition: $transition-global;

    body.dark &{
      background-color: $secondary-color-dark;
      transition: $transition-global;
    }

    a{
      margin-top: .7rem;
    }

    i {
      width: 5.4rem;
      height: 5.4rem;
      font-size: 5rem;
      color: black;
      cursor: pointer;
      transition: $transition-global;

      body.dark &{
        color: $secondary-font-color-dark;
        transition: $transition-global;
      }

      &:hover{
        transition: 900ms;
        color: #a0a2a7;

        body.dark &{
          color: #9d9d9e;
          transition: $transition-global;
        }
      }
    }
  }
  
