footer {
    width: 100%;
    min-width: 320px;
    height: 18vh;
    background-color: $tertiary-color-light;
    border-top: 3px solid rgba(0, 0, 0, 0.05);
    box-shadow: -8px -10px 15px rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }
  
  
  footer a{
    margin-top: .7rem;
  }
  
  footer a svg {
    width: 5.4rem;
    height: 5.4rem;
  }
  
  
  
  
  
  footer a:hover {
    .gitHub-icon {
      transition: 900ms;
      fill: #a0a2a7;
    }
  }