header {
  height: 70px;
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: $primary-color-light;

  .headerContainer {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
    width: auto;
  }
}

.headerContainer .headerContainer-icon {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: -10px;
  background-color: $primary-color-light;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: -8px -10px 15px rgba(255, 255, 255, 0.65),
    -2px -2px 10px rgba(0, 0, 0, 0.25);

    @include media(tablet ){
      left: -30px;
    }

    
}

.headerContainer-icon a svg {
  width: 3.1rem;
  height: 3.1rem;
}

.headerContainer .headerContainer-back-icon {
  width: 70px;
  position: relative;
  left: -10px;
  height: 3rem;
  border-radius: 40px;
  z-index: 1;
  background: rgba(54, 138, 236, 0.25);
  box-shadow: inset -8px -10px 15px rgba(255, 255, 255, 0.65),
    inset 10px 10px 10px rgba(0, 0, 0, 0.25);
    
  @include media(tablet ){
    left: -30px;
  }
}

.headerContainer .stroke {
  background-color: rgba(54, 138, 236, 1);
  box-shadow: inset -8px -10px 15px rgba(255, 255, 255, 0.65),
    inset 10px 10px 10px rgba(0, 0, 0, 0.25);
  width: 70px;
  position: absolute;
  left: 0px;
  height: 3rem;
  border-radius: 40px;
}

.headerContainer .headerContainer-icon:hover {
  background-color: #c7c9cf;
  transition: 900ms;
  border: none;
  .sun-icon {
    transition: 300ms;
    fill: #ffffff;
  }
}
