main {
  background-color: $primary-color-light;
  display: flex;
  width: 100%;
  min-width: 320px;
  height: 78vh;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  transition: $transition-global;


  body.dark &{
    background-color: $secondary-color-dark;
    transition: $transition-global;
  }

  .title {
    width: 30rem;
    max-width: 50rem;
    height: 9.5rem;
    text-align: center;
    padding-top: 0.7rem;
    background-color: $secondary-color-light;
    border-radius: 20px;
    font-size: 5rem;
    font-family: $font1;
    border: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: -8px -10px 15px rgba(224, 224, 224, 0.65),
      10px 10px 10px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: normal;
    line-height: 83px;
    color: $primary-font-color-light;
    margin-top: 2rem;
    margin-bottom: 3rem;
    transition: $transition-global;

    body.dark &{
      background-color: $primary-color-dark;
      color: $primary-font-color-dark;
      box-shadow: $shadow-dark-outside;
      transition: $transition-global;
    }
   
    @include media(mobile) {
      width: 40rem;
    }
    @include media(tablet) {
      width: 65rem;
    }
    @include media(desktop) {
      width: 75rem;
      font-size: 6rem;
      padding-top: 1rem;
      margin-top: 12rem;
      margin-bottom: 9rem;
    }
    
  }

  .button-light {
    width: 20.6rem;
    max-width: 25rem;
    height: 7.9rem;
    border-radius: 40px;
    background: $secondary-color-light;
    border: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: -8px -10px 15px rgba(224, 224, 224, 0.65),
      10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    margin-bottom: 2rem;
    font-family: $font2;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 56px;
    color: $secondary-font-color-light;
    cursor: pointer;
    transition: $transition-global;

    body.dark &{
      background-color:$primary-color-dark;
      box-shadow: $shadow-dark-outside;
      color: $secondary-font-color-dark;
      transition: $transition-global;
    }

   
    
    @include media(mobile) {
      width: 25rem;
    }
  
    @include media(tablet) {
      width: 35.6rem;
    }
  
    @include media(desktop) {
      width: 40.6rem;
      font-size: 4rem;
      margin-bottom: 3rem;
    }
  }

  .button-light:hover {
    background-color: #c7c9cf;
    transition: 600ms;
    color: #45474e;

    body.dark &{
      background-color:#3f4349;
      box-shadow: $shadow-dark-outside;
      color: #e4e7eb;
      transition: $transition-global;
    }
  }

  .title-turn {
    text-align: center;
    color: $primary-font-color-light;
    font-family: $font1;
    font-style: normal;
    font-weight: bold;
    font-size: 3.4rem;
    line-height: 3.6rem;
    text-align: center;
    transition: $transition-global;

    @include media(desktop-h){
      font-size: 4rem;
    }

    @include media(desktop-h1){
      font-size: 6rem;
      margin-bottom: 3rem;
    }

    @include media(desktop-h2){
      font-size: 7rem;
      margin-bottom: 4rem;
    }

    body.dark &{
      color:$primary-font-color-dark;
      transition: $transition-global;
    }
  }

  .container-board{
    width: 25rem;
    height: 26rem;
    background-color: $secondary-color-light;
    border-radius: 25px;
    border: 1px #8c8c8d solid;
    box-shadow: -8px -10px 15px rgba(255, 255, 255, 0.65), 10px 10px 10px rgba(0, 0, 0, 0.25);
    transition: $transition-global;

    @include media(desktop-h){
      width: 32rem;
      height: 33rem;
      margin-bottom: .5rem;
    }

    @include media(desktop-h1){
      width: 36rem;
      height: 37rem;
      margin-bottom: .5rem;
    }
    @include media(desktop-h2){
      width: 40rem;
      height: 41rem;
      margin-bottom: .7rem;
    }

    body.dark &{
      background-color: $secondary-color-dark;
      box-shadow: $shadow-dark-outside;
      transition: $transition-global;
    }

    .container-board-into{
      width: 25rem;
      height: 26rem;
      border-radius: 25px;
      box-shadow: inset -8px -10px 15px rgba(255, 255, 255, 0.65), inset 10px 10px 10px rgba(0, 0, 0, 0.25);
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(3,1fr);
      padding: 1.5rem;
      transition: $transition-global;

      @include media(desktop-h){
        width: 32rem;
        height: 33rem;
      }

      @include media(desktop-h1){
        width: 36rem;
        height: 37rem;
        margin-bottom: .5rem;
      }
      @include media(desktop-h2){
        width: 40rem;
        height: 41rem;
        margin-bottom: .7rem;
      }

      body.dark &{
        background-color: $secondary-color-dark;
        box-shadow: inset -3px -3px 20px rgba(255, 255, 255, 0.3), inset 10px 10px 15px ;
        transition: $transition-global;
      }

      .button-xo{
        background:none;
        font-size: 6rem;
        font-family: $font1;
        color: $secondary-font-color-light;
        border: none;
        transition: $transition-global;

        @include media(desktop-h1){
          font-size: 8rem;
        }

        body.dark &{
          color: $secondary-font-color-dark;
          transition: $transition-global;
        }
      }

      .position-1, .position-2, .position-3,.position-4, .position-5, .position-6{
        border-bottom:.8rem solid black;
        transition: $transition-global;
        body.dark &{
          border-bottom:.8rem solid rgb(75, 74, 74);
          transition: $transition-global;
        }
      }
      .position-1, .position-2, .position-4, .position-5,.position-7, .position-8{
        border-right:.8rem solid black;
        transition: $transition-global;
        body.dark &{
          border-right:.8rem solid rgb(65, 63, 63);
          transition: $transition-global;
        }
      }

      .win{
        color: $primary-font-color-light;
        font-size: 6.5rem;
        font-weight:600 ;
        transition: $transition-global;

        @include media(desktop-h1){
          font-size: 10rem;
          font-weight:600 ;
          transition: $transition-global;
        }

        body.dark &{
          color:$primary-font-color-dark;
          transition: $transition-global;
        }
      }

      .lose{
        color: #00000041;
        transition: $transition-global;
        body.dark &{
          color:#646262;
          transition: $transition-global;
        }
      }
    }
  }

  .score{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 1.2rem;
    transition: $transition-global;

    @include media(desktop-h2){
      margin-top: 1rem;
    }

    .score-title{
      display: grid;
      grid-template-columns: 1fr .5fr 1fr;
      transition: $transition-global;

      .Player1{
        justify-self:end ;
        transition: $transition-global;
      }
      .tie{
        justify-self: center;
        transition: $transition-global;
      }
      .Player2{
        justify-self: start;
        transition: $transition-global;
      }

      b{
        font-size: 1.8rem;
        font-family: $font1;
        color: $primary-font-color-light;
        font-weight:600;
        transition: $transition-global;
        @include media(desktop-h2){
          font-size: 2.5rem;
        }

        body.dark &{
          color:$primary-font-color-dark;
          transition: $transition-global;
        }
      }

    }

    .score-points{
      display: grid;
      grid-template-columns: 1fr .5fr 1fr;
      margin-top: 0.5rem;
      transition: $transition-global;

      @include media(desktop-h2){
        margin-bottom: 1.6rem;
      }

      .Player1-points{
        @include media(mobile){
          justify-self:end ;
          padding-right: 5rem;
         transition: $transition-global;
        }
      }

      .Player2-points{
        @include media(mobile){
          justify-self:start ;
          padding-left: 5rem;
         transition: $transition-global;
        }
      }

      b{
        justify-self: center; 
        color: $secondary-font-color-light;
        font-family: $font1;
        font-size: 2.6rem; 
        transition: $transition-global; 
        
        body.dark &{
          color:$secondary-font-color-dark;
          transition: $transition-global;
        }
      }
    }
  }

  .button-back{
    width:13rem;
    height: 3.2rem;
    margin-top: 1rem;
    font-size: 2.5rem; 
    display: flex;
    transition: $transition-global;

    @include media(desktop-h1){
      width: 15rem;;
      height: 4rem;
    }
    @include media(desktop-h2){
      width: 20rem;
      height: 5rem;
      font-size: 3.5rem;
      margin-top: 1rem;
    }
    b{
      align-self: center;
      width: 100%;
      color: $secondary-font-color-light;
      font-weight:300;
      transition: $transition-global;

      body.dark &{
        color:$secondary-font-color-dark;
        transition: $transition-global;
      }
    }
  }
}




